* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, rgba(124,5,5,1) 25%, rgba(90,0,255,1) 85%);;
    background-size: 400%;  
    animation: gradient 10s ease infinite alternate;
}
@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 50% 100%;
    }
}
h2{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
}
* p{
    color: white;
    font-size: 18px;
}
.flex{
    margin: 50px auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}
.project{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.project_state{
    display: flex;
    vertical-align: middle;
}
.project_desc{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.state{
    width: 350px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border-style: ridge;
    border: 2px solid white;
    
}
.desc{
    width: 200px;
    text-align: center;
}
.img{
    width: 300px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.github_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
}
.github_img img{
    width: 100%;
    margin-top: 20px;
}
.img img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.img p{
    text-align: center;
}