* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
* p{
    color: white;
    font-size: 18px;
}
body{
    background: linear-gradient(90deg, rgba(5,25,124,1) 20%, rgba(159,166,0,1) 55%, rgba(0,255,29,1) 90%);
    background-size: 400%;  
    animation: gradient 15s ease infinite alternate;
}
@keyframes gradient {
    0% {
        background-position: right;
    }
}
h2{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.flex{
    margin: 50px auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}
.hobbie{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.project_desc{
    display: flex;
    align-content: center;
}
.desc{
    width: 400px;
    text-align: center;
}
.img{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.img img{
    width: 100%;
    margin-top: 14px;
}
.img p{
    font-size: 22px;
    text-align: center;
}