* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 60%);
    background-size: 400%;
    animation: gradient 10s ease infinite alternate;
}
@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 50% 100%;
    }
}
.flex{
    margin: 50px auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
h2{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.nicknames{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    margin-top: 150px;
}
.nickname_desc{
    font-size: 20px;
    font-weight: bold;
}
.nickname{
    margin-top: 8px;
    font-size: 14px;
}
.stories{
   
    color: white;
}
.general_stories{
    justify-content: space-evenly;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.failure_stories{
    justify-content: space-evenly;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}
.story{
    margin-top: 10px;
    font-size: 14px;
}
.story_desc{
    font-size: 20px;
    font-weight: bold;
}
.story_img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
}
.story_img img{
    width: 100%;
}

