* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --gradient: linear-gradient(
        45deg,
        #006977,
        #87c9ad
    );
}
body {
    background: linear-gradient(200deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 43, 1) 17%, rgba(0, 212, 255, 1) 100%);
    background-size: 100% 100%;
}
.btn{
    border: 0;
    cursor: pointer;
    padding: 0.5em 1,5em;
    width: 80px;
    height: 40px;
    color: white;
    background: var(--gradient);
    background-size: 300%;
    transition: background-position 500ms;
}
.btn:hover{
    background-position: right;
}
nav ul {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.flex {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.personal_info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.personal_info {
    margin-top: 100px;
    font-size: 24px;
}
.someText{
    color: white;
}
.personal_text {
    width: 40%;
    color: white;
}
.img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
}
.img img {
    width: 100%;
}
.education_item {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img_ganatleba {
    width: 50%;
    margin-bottom: 20px;
}
.img_ganatleba img {
    width: 100%;
}
h3 {
    margin-bottom: 20px;
}
.contact_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contactimg {
    width: 250px;
    height: 250px;
}
.contactimg img {
    width: 100%;
}
.contactimg a {
    width: 50%;
}
.contact {
    align-items: center;
    margin-top: 200px;
}
header {
    width: 100%;
    height: 60px;
    align-items: center;
    background: linear-gradient(202deg, rgba(2,0,36,1) 0%, rgba(9,121,43,0.5214460784313726) 17%, rgb(7, 133, 206) 100%);
    
}
.sections {
    color: white;
    text-align: center;
    margin-top: 10px;
}